<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Connecties.PxlServerConn" connectionString="TrustServerCertificate=True;Server=10.128.4.7;Database=Db2025Team_08;User Id=PxlUser_08;Password=GoTeam08" />
        <add name="ClassLibrary1.Connecties.ImkeServerConn" connectionString="TrustServerCertificate=True;Server=IMKE\SQLEXPRESS;Database=DataEssantials;User Id=sa;Password=digital@PXL" />
    </connectionStrings>
</configuration>