<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary1.Connecties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Connecties.PxlServerConn" connectionString="TrustServerCertificate=True;Server=10.128.4.7;Database=Db2025Team_08;User Id=PxlUser_08;Password=41FFVf7!" />
    </connectionStrings>
    <userSettings>
        <ClassLibrary1.Connecties>
            <setting name="ImkeServerConn" serializeAs="String">
                <value>TrustServerCertificate=True;Server=IMKE\SQLEXPRESS;Database=DataEssantials;User Id=sa;Password=digital@PXL</value>
            </setting>
        </ClassLibrary1.Connecties>
    </userSettings>
</configuration>